@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    html {
        font-size: 17px;
    }

    body {
        font-family: 'Quicksand', sans-serif;
        @apply text-base;
    }

    p, a, span {
        font-weight: 600;
    }
}
